@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    overflow-x: clip;
  }
  /* Custom Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-charcoal-700 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400 dark:bg-charcoal-600;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #d1d5db transparent;
  }

  .dark * {
    scrollbar-color: #333 transparent;
  }
}